@model StudentCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="cat-heading">Create Student</h4>


<div class="form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GebruikerId">Tekomstige Lector</label>
            <select asp-for="GebruikerId" class="form-control">
                <option value="">Please Select</option>
                @foreach (Gebruiker gebruiker in Model.Gebruikers)
                {
                    <option value="@gebruiker.GebruikerId">@gebruiker.Naam @gebruiker.VoorNaam</option>
                }
            </select>
            <span asp-validation-for="GebruikerId" class="text-danger"></span>
        </div>
        <div class="form-group submit-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
