@model IEnumerable<HogeschoolPxl.Models.Student>

@{
    ViewData["Title"] = "Studenten";
}
@section LectorenStyle{
    <link rel="stylesheet" href="~/css/Lectoren.css" />
}

<h3 class="cat-heading">Studenten</h3>


<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="custom-container">
    @foreach (Student student in Model)
    {
        <partial name="StudentCard" model="@student" />
    }
</div>