@model IEnumerable<HogeschoolPxl.Models.Lector>

@{
    ViewData["Title"] = "Lectoren";
}
@section LectorenStyle{
    <link rel="stylesheet" href="~/css/Lectoren.css" />
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="lectoren">
    <div>
        @foreach (Lector lector in Model)
        {
            <partial name="LectorCard" model="@lector" />
        }
    </div>
</div>
