@{
    ViewData["Title"] = "Home Page";
}
<div class="pxl-div">
    <h1 class="display-4">
        <span>Hogeschool</span>
        <span>Met</span>
        <span>Het</span>
        <span>Netwerk</span>
    </h1>
</div>
