@model IEnumerable<HogeschoolPxl.Models.Gebruiker>

@{
    ViewData["Title"] = "Gebruikers";
}
@section GebruikerStyle{
    <link rel="stylesheet" href="~/css/Gebruiker.css" />
}
<h3 class="cat-heading">Gebruikers</h3>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<div class="custom-container">
    @foreach (Gebruiker gebruiker in Model)
    {
        <partial name="GebruikerCard" model="@gebruiker"/>
    }
</div>