@model HogeschoolPxl.Models.VakLector

@{
    ViewData["Title"] = "Create";
}

<h4 class="cat-heading">Create VakLector</h4>

<div class="form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LectorId" class="control-label"></label>
            <input asp-for="LectorId" class="form-control" />
            <span asp-validation-for="LectorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VakId" class="control-label"></label>
            <input asp-for="VakId" class="form-control" />
            <span asp-validation-for="VakId" class="text-danger"></span>
        </div>
        <div class="form-group submit-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
