.inschrijving-menu {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.inschrijving-menu li a{
    margin: 1px 5px;
    min-width: 100px;
}

.btn-outline-primary {
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.btn-outline-primary.active {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}