body {
}
a.active{
    color: blue !important;
}
a.text-dark:hover {
    color: blue !important;
}

.custom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.custom-container > div{
    margin-left: 10px;
    margin-bottom: 30px
}

