@model IEnumerable<HogeschoolPxl.Models.Inschrijving>

@{
    ViewData["Title"] = "Inschrijvingen";
}
@section InschrijvingStyle{
    <link rel="stylesheet" href="~/css/Inschrijving.css" />
}

<h3 class="cat-heading">Inschrijvingen</h3>

<vc:inschrijving-menu></vc:inschrijving-menu>

<div class="d-flex p-2 flex-wrap">
    @foreach (Inschrijving inschrijving in Model)
    {
        <div inschrijving="@inschrijving"></div>
    }
</div>