@model IEnumerable<Handboek>

@{
    ViewData["Title"] = "Handboeken";
}
<h3 class="cat-heading">Handboeken</h3>
<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<div class="boeken custom-container">
    @foreach (Handboek handboek in Model)
    {
        <partial name="HandboekCard" model="@handboek" />
    }
</div>
